<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Exercise01</servlet-name>
        <servlet-class>net.bohush.exercises.chapter42.Exercise01</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exercise02</servlet-name>
        <servlet-class>net.bohush.exercises.chapter42.Exercise02</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exercise03</servlet-name>
        <servlet-class>net.bohush.exercises.chapter42.Exercise03a</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exercise03b</servlet-name>
        <servlet-class>net.bohush.exercises.chapter42.Exercise03b</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exercise03c</servlet-name>
        <servlet-class>net.bohush.exercises.chapter42.Exercise03c</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exercise04</servlet-name>
        <servlet-class>net.bohush.exercises.chapter42.Exercise04</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exercise05</servlet-name>
        <servlet-class>net.bohush.exercises.chapter42.Exercise05</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exercise06</servlet-name>
        <servlet-class>net.bohush.exercises.chapter42.Exercise06</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exercise07</servlet-name>
        <servlet-class>net.bohush.exercises.chapter42.Exercise07</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exercise08</servlet-name>
        <servlet-class>net.bohush.exercises.chapter42.Exercise08</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exercise09</servlet-name>
        <servlet-class>net.bohush.exercises.chapter42.Exercise09</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exercise10</servlet-name>
        <servlet-class>net.bohush.exercises.chapter42.Exercise10</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exercise11</servlet-name>
        <servlet-class>net.bohush.exercises.chapter42.Exercise11</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exercise12</servlet-name>
        <servlet-class>net.bohush.exercises.chapter42.Exercise12</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exercise13</servlet-name>
        <servlet-class>net.bohush.exercises.chapter42.Exercise13</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exercise14</servlet-name>
        <servlet-class>net.bohush.exercises.chapter42.Exercise14</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Exercise01</servlet-name>
        <url-pattern>/Exercise42_01</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exercise02</servlet-name>
        <url-pattern>/Exercise42_02</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exercise03</servlet-name>
        <url-pattern>/Exercise42_03a</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exercise03b</servlet-name>
        <url-pattern>/Exercise42_03b</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exercise03c</servlet-name>
        <url-pattern>/Exercise42_03c</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exercise04</servlet-name>
        <url-pattern>/Exercise42_04</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exercise05</servlet-name>
        <url-pattern>/Exercise42_05</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exercise06</servlet-name>
        <url-pattern>/Exercise42_06</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exercise07</servlet-name>
        <url-pattern>/Exercise42_07</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exercise08</servlet-name>
        <url-pattern>/Exercise42_08</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exercise09</servlet-name>
        <url-pattern>/Exercise42_09</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exercise10</servlet-name>
        <url-pattern>/Exercise42_10</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exercise11</servlet-name>
        <url-pattern>/Exercise42_11</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exercise12</servlet-name>
        <url-pattern>/Exercise42_12</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exercise13</servlet-name>
        <url-pattern>/Exercise42_13</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exercise14</servlet-name>
        <url-pattern>/Exercise42_14</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
